.wrap {
  font-family: none;

  i,
  input {
    margin-right: 10px;
  }

  i {
    color: var(--c-text-light);
    cursor: pointer;
    user-select: none;

    &:hover {
      color: var(--c-brand-light);
    }
  }

  input {
    width: 60px;
    padding: 3px 7px;
    color: unset;
    border: 1px solid var(--c-brand-light);
    background: var(--c-bg-accent);

    &:focus {
      border-color: var(--c-brand);
      outline: none;
    }
  }

  canvas {
    display: block;
    width: 320px;
    height: 320px;
    margin-top: 10px;
    border: 1px solid var(--c-brand);
    cursor: crosshair;
  }
}
