* {
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scrollbar-arrow-color: var(--c-brand);

  scrollbar-base-color: var(--c-divider-light);
  scrollbar-color: var(--c-brand-light) transparent;
  scrollbar-darkshadow-color: var(--c-brand);
  scrollbar-face-color: var(--c-brand-light);
  scrollbar-highlight-color: var(--c-divider-light);
  scrollbar-shadow-color: var(--c-brand-light);
  scrollbar-track-color: var(--c-divider-light);
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background: none;
  border-radius: 4px;
  transition: 0.3s;

  &:hover {
    background: var(--c-divider-light);
  }
}

::-webkit-scrollbar-thumb {
  min-width: 15px;
  min-height: 15px;
  background: var(--c-brand-light);
  border-radius: 4px;
  transition: 0.3s;

  &:hover {
    background: var(--c-brand);
  }
}

::-webkit-scrollbar-button {
  display: none;
}
