/// 覆盖 vssue 样式变量 vssue/src/styles/_variables.styl ///

// the main color
$vssue-theme-color ?= #f66

// the text color (used for common text)
$vssue-text-color ?= #2c3e50

// the text light color (used for muted text, disabled text, etc)
$vssue-text-light-color ?= #476582

// the border color
$vssue-border-color ?= rgba(60, 60, 67, 0.12)

// the progress color
// $vssue-progress-color ?= $vssue-theme-color

// the font size
// $vssue-font-size ?= 16px

// the font family
$vssue-font-family ?= var(--font-family-base)

// the mobile breakpoint
// $vssue-breakpoint-mobile ?= 576px

// ltr-rtl direction
// $vssue-direction ?= ltr

/// vssue 样式 ///
@import 'vssue/src/styles/index'

/// 覆盖 vssue 样式 ///
.vssue
  width: auto !important;
  max-width: 73rem;
  margin: 0 auto;
  padding: 0 1.5rem !important;
