@import 'variables';
@import 'helpers';
@import 'button';
@import 'icon';
@import 'transitions';

@import 'notice';
@import 'status';
@import 'header';
@import 'new-comment';
@import 'comments';
@import 'pagination';

.vssue {
  width: auto;
  max-width: 73rem;
  margin: 0 auto;
  padding: 0 1.5rem;

  &,
  * {
    box-sizing: border-box;
  }

  &:not(.vssue-comment-content) {
    a {
      cursor: pointer;
      font-weight: 500;
      color: $vssue-theme-color;
      text-decoration: none;
    }
  }
}
